/*
commentaire en css
 */

em{
    color: red;
}

   #bulbasaur {
       font-weight: bold;
       color: aqua;
   }

   .bold{
       font-weight: bold;
   }
   .aqua{
       color : aqua;
   }

   .img-50 {
       width : 25%;
       height: 25%;
   }