/*
Commentaire en CSS
*/

em {
    color : #da2bda;
}


.aqua {
    color : aqua;
}

.bold {
    font-weight: bold;
}


/*
#chaque_cours, #tous_cours {
    font-weight: bold;
    color : aqua;
}
*/

.img-50 {
    width : 25%;
    height: 25%;
}
